<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Venta - @ViewBag.Title</title>
    <link rel="icon" href="@Url.Content("~/elopify.ico")" />

    @Styles.Render("~/Template/css")
    @Styles.Render("~/Bootstrap/css")

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
</head>

<body>


    <!-- SideBar -->
    <section class="full-box cover dashboard-sideBar" style="background-color:#161616;">
        <div class="full-box dashboard-sideBar-bg btn-menu-dashboard"></div>
        <div class="full-box dashboard-sideBar-ct">
            <!--SideBar Title -->

            <a href="~/Home/Index">
                <div class="full-box text-uppercase text-center text-titles dashboard-sideBar-title">
                    <strong>Sistema de venta</strong>
                </div>
            </a>
            <!-- SideBar User info -->
            <div class="full-box dashboard-sideBar-UserInfo">
                <figure class="full-box">
                    <figcaption class="text-center text-titles">Usuario :<strong> @ViewBag.UserName</strong> </figcaption>
                </figure>
                <ul class="full-box list-unstyled text-center">
                    <li>
                        <a href="#" class="btn-exit-system" title="Cerrar Sesión">
                            <i class="zmdi zmdi-power"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <!-- SideBar Menu -->
            <ul class="list-unstyled full-box dashboard-sideBar-Menu">
                <li>
                    <a href="/Home/Index" title="Reportes">
                        <i class="zmdi zmdi-view-dashboard zmdi-hc-fw"></i> Principal
                    </a>
                </li>
                <li>
                    <a href="/Report/Index" title="Reportes">
                        <i class="zmdi zmdi-view-dashboard zmdi-hc-fw"></i> Resportes
                    </a>
                </li>
                <li>
                    <a href="#" class="btn-sideBar-SubMenu" title="Mantenimiento">
                        <i class="zmdi zmdi-case zmdi-hc-fw"></i> Mantenimiento <i class="zmdi zmdi-caret-down pull-right"></i>
                    </a>
                    <ul class="list-unstyled full-box">
                        <li>
                            <a href="/Usuario/Index"><i class="zmdi zmdi-account zmdi-hc-fw"></i> Usuarios</a>
                        </li>
                        <li>
                            <a href="/Empleado/Index"><i class="zmdi zmdi-account-add zmdi-hc-fw"></i> Empleados</a>
                        </li>
                        <li>
                            <a href="/Producto/Index"><i class="zmdi zmdi-case zmdi-hc-fw"></i> Producto</a>
                        </li>
                        <li>
                            <a href="/Cliente/Index"><i class="zmdi zmdi-account zmdi-hc-fw"></i> Cliente</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="btn-sideBar-SubMenu" title="Mis ventas">
                        <i class="zmdi zmdi-more-vert zmdi-hc-fw"></i>Ventas<i class="zmdi zmdi-caret-down pull-right"></i>
                    </a>
                    <ul class="list-unstyled full-box">
                        <li>
                            <a href="/Venta/Nueva"><i class="zmdi zmdi-account zmdi-hc-fw"></i>Nueva Venta</a>
                        </li>
                        <li>
                            <a href="/Venta/Index"><i class="zmdi zmdi-caret-down zmdi-hc-fw"></i>Mis Ventas</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/Home/MyAccount" title="Mi cuenta">
                        <i class="zmdi zmdi-info zmdi-account"></i> Mi Cuenta
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <!-- Content page-->
    <section class="full-box dashboard-contentPage">
        <!-- NavBar -->
        <nav class="full-box dashboard-Navbar">
            <ul class="full-box text-right">
                <li class="pull-left">
                    <a href="#" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
                </li>
            </ul>
        </nav>

        @RenderBody()
        <!-- Render body -->
    </section>

    <!-- Notifications area -->
    <section class="full-box Notifications-area">
        <div class="full-box Notifications-bg btn-Notifications-area"></div>
        <div class="full-box Notifications-body">
            <div class="Notifications-body-title text-titles text-center">
                Notifications <i class="zmdi zmdi-close btn-Notifications-area"></i>
            </div>
            <div class="list-group">
                <div class="list-group-item">
                    <div class="row-action-primary">
                        <i class="zmdi zmdi-alert-triangle"></i>
                    </div>
                    <div class="row-content">
                        <div class="least-content">17m</div>
                        <h4 class="list-group-item-heading">Tile with a label</h4>
                        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus.</p>
                    </div>
                </div>
                <div class="list-group-separator"></div>
                <div class="list-group-item">
                    <div class="row-action-primary">
                        <i class="zmdi zmdi-alert-octagon"></i>
                    </div>
                    <div class="row-content">
                        <div class="least-content">15m</div>
                        <h4 class="list-group-item-heading">Tile with a label</h4>
                        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus.</p>
                    </div>
                </div>
                <div class="list-group-separator"></div>
                <div class="list-group-item">
                    <div class="row-action-primary">
                        <i class="zmdi zmdi-help"></i>
                    </div>
                    <div class="row-content">
                        <div class="least-content">10m</div>
                        <h4 class="list-group-item-heading">Tile with a label</h4>
                        <p class="list-group-item-text">Maecenas sed diam eget risus varius blandit.</p>
                    </div>
                </div>
                <div class="list-group-separator"></div>
                <div class="list-group-item">
                    <div class="row-action-primary">
                        <i class="zmdi zmdi-info"></i>
                    </div>
                    <div class="row-content">
                        <div class="least-content">8m</div>
                        <h4 class="list-group-item-heading">Tile with a label</h4>
                        <p class="list-group-item-text">Maecenas sed diam eget risus varius blandit.</p>
                    </div>
                </div>
                <div class="list-group-separator"></div>
                <div class="list-group-item">
                    <div class="row-action-primary">
                        <i class="zmdi zmdi-info"></i>
                    </div>
                    <div class="row-content">
                        <div class="least-content">8m</div>
                        <h4 class="list-group-item-heading">Tile with a label</h4>
                        <p class="list-group-item-text">Maecenas sed diam eget risus varius blandit.</p>
                    </div>
                </div>
                <div class="list-group-separator"></div>
                <div class="list-group-item">
                    <div class="row-action-primary">
                        <i class="zmdi zmdi-info"></i>
                    </div>
                    <div class="row-content">
                        <div class="least-content">8m</div>
                        <h4 class="list-group-item-heading">Tile with a label</h4>
                        <p class="list-group-item-text">Maecenas sed diam eget risus varius blandit.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--modal-->
    <div id="myModalAlert" class="modal" tabindex="-1" data-keyboard="false" data-backdrop="static" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-light">
                    <h5 class="modal-title">¿Desea eliminar el registro?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt beatae esse velit ipsa sunt incidunt aut voluptas, nihil reiciendis maiores eaque hic vitae saepe voluptatibus. Ratione veritatis a unde autem!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <!--modal-->

    @Scripts.Render("~/Template/Scripts")
    @Scripts.Render("~/Bootstrap-DataTables/Scripts")
    @Scripts.Render("~/Global/Scripts")
    @RenderSection("scripts", required: false)
</body>
</html>
